/.claude
/.github
/.husky
/build
/coverage
/doc
/src

/__tests__
/__mocks__

.commitlintrc.yml
.gitignore
.node-version
eslint.config.mjs
jest.config.ts
pnpm-workspace.yaml
tsconfig.json
tsconfig.lib.json
tsdown.config.ts
